{% extends 'base.html.twig' %}

{% block title %}Mangas index{% endblock %}

{% block body %}
    <h1>Mangas index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Slug</th>
                <th>Id</th>
                <th>Uuid</th>
                <th>CreatedAt</th>
                <th>UpdatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for manga in mangas %}
            <tr>
                <td>{{ manga.name }}</td>
                <td>{{ manga.slug }}</td>
                <td>{{ manga.id }}</td>
                <td>{{ manga.uuid }}</td>
                <td>{{ manga.createdAt ? manga.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ manga.updatedAt ? manga.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('mangas_show', {'id': manga.id}) }}">show</a>
                    <a href="{{ path('mangas_edit', {'id': manga.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('mangas_new') }}">Create new</a>
{% endblock %}
