{% extends 'base.html.twig' %}

{% block title %}Mangas{% endblock %}

{% block body %}
    <h1>Mangas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ manga.name }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ manga.slug }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ manga.id }}</td>
            </tr>
            <tr>
                <th>Uuid</th>
                <td>{{ manga.uuid }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ manga.createdAt ? manga.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>UpdatedAt</th>
                <td>{{ manga.updatedAt ? manga.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('mangas_index') }}">back to list</a>

    <a href="{{ path('mangas_edit', {'id': manga.id}) }}">edit</a>

    {{ include('mangas/_delete_form.html.twig') }}
{% endblock %}
